<div class="card m-0 p-0" >
  <div class="row m-0 p-0">
    <div class="col-lg-6 m-0 p-0 artshow">
  <%= image_tag(@article.image.variant(resize_to_limit: [600,600]), {:class => "img-fluid"}) %>
    </div>
    <div class="col-lg-6">
      <div class="card-body">
        <h4 class="card-title orange"><%= @article.title %></h4>
        <h6 class="card-text fs-5 fw-light"><%= @article.body %></h6>
        <p class="card-text">Created by: <%= @article.user.email %></p>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary my-3" %>
        <%= link_to 'Back', articles_path, class: "btn btn-secondary my-3" %>
        <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>


