<div class="container-fluid m-0 p-0 ">
    <div class="row m-0 p-0 ">
            <div class="card bg-dark text-white m-0 p-0 bigimgcont ">
                <%= image_tag(@articles.first.image.variant(resize: '600x400!'), {:class => "img-fluid imgmain"}) %>
                <div class="card-img-overlay">
                    <h5 class="card-title orange">
                        <%= link_to @articles.first.title, articles_path, class: "nav-link orange m-0 p-0" %>
                    </h5>
                    <h4 class="card-text position-absolute bottom-0 end-0 pb-4 px-4"><%= @articles.first.category.name %></h4>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <% @categories.each do |category| %>
        <div class="col-xl-3 m-0 p-0">
            <div class="card bg-dark text-white">
                <%= image_tag( category_article(category.id).last.image.variant(resize: '600x400!'), {:class => "img-fluid imgmain"}) %>
                <div class="card-img-overlay">
                    <h5 class="card-title orange">
                    <%= link_to category.name, cat_path(category.id), class: "nav-link orange m-0 p-0 " %>
                    </h5>
                    <p class="card-text position-absolute bottom-0 end-0 pb-4 px-3">
                    <%= category.articles.last.title %>
                    </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<br>