<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
      <h4>Consoles <i class="fas fa-circle orange dot"></i></h4>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Play Station', pages_playstation_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Xbox', pages_xbox_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Nintendo', pages_nintendo_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Gamer Pc', pages_gamerpc_path, class: "nav-link" %>
        </li>
        
      </ul>
      <form class="d-flex">
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
          <%= link_to 'Articles', articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Article', new_article_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <%= link_to 'Edit Account', edit_user_registration_path, class: 'dropdown-item'  %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'  %>
            </li>
          </ul>
        </li>
        <% else %>
          <li><hr class="dropdown-divider"></li>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      </form>
    </div>
  </div>
</nav>